
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RiceMedica</title>
    <!-- Bootstrap CSS CDN -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <!-- Navigation Bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">RiceMedica</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/upload">Upload</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Content -->
    <div class="container mt-4">

        <hr>
        <h3> Rice Plant Pests and Diseases Classification System </h3>
        <code>Reminder: The AI’s accuracy depends on image quality; ensure clear, focused images for best results. The model may not identify if the image is a rice plant before classifying the pest and disease, (so considering using object detection first is best approach but that's not included in this application). For now, used a true image of a rice plant for clasification. Results should be used as a supportive tool, not a substitute for expert advice.</code>
        <hr>

        {% if predicted_class_name %}
            {% if is_valid %}
                <!-- Results Section -->
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card">
                            <img src="{{ MEDIA_URL }}/{{ image_name }}" class="card-img-top" alt="Result Image">
                            <div class="card-body">
                                <h5 class="card-title">{{predicted_class_name}} ({{predicted_class_acuracy}} Accuracy)</h5>
                                <p class="card-text">
                                    {% comment %} From Database {% endcomment %}
                                    Additional Informations:<br>
                                    Name: {{ predicted_information.disease_name }}<br>
                                    Description: {{ predicted_information.description }}<br>
                                    Symptoms: {{ predicted_information.symptoms }}<br>
                                    Treatment: {{ predicted_information.treatment }}<br>
                                </p>
                                <hr>
                                <div style="height: auto; width: auto">
                                    <img src="data:image/png;base64,{{ graphic_visualization|safe }}" alt="">
                                </div>
                                <hr>
                                <a href="/">Capture Again?</a>
                            </div>
                        </div>
                    </div>
                </div>

            {% else %}
                <!-- Results Section -->
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Low Accuracy!</h5>
                                <p class="card-text">
                                    Please provide a clear image.
                                </p>
                                <a href="/">Capture Again.</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}


        {% if not predicted_class_name %}
            <!-- Form Section -->
            <div class="row mb-4">
                <div class="col-md-6 offset-md-3">
                    <h2 class="text-center">Capture the Rice Plant</h2>

                    <div class="row align-items-center pt-0 mt-0">
                        <video id="player" class="" style="width: 100%; " autoplay></video>
                        <canvas id="canvas" width="auto" style="width: 100%;"></canvas>
                        <div style="margin-top: 10px; margin-left: 10px; z-index: 9999;">
                            <button id="capture" class="btn btn-sm btn-warning" style=""><i class="fa fa-camera-retro"></i></button>
                            <a id="restart" href="" class="btn btn-sm btn-danger" style=""><i class="fa fa-trash"></i></a>
                        </div>

                        <a href="#" id="switchCam">Switch Camera (front/rear)</a>
                    </div>

                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        <input type="hidden" class="form-control form-control-sm mb-0" name="image_data" id="id_image_data">
                        <input type="submit" id="classify" class="btn btn-primary w-100" name="upload" value="Classify">
                    </form>
                </div>
            </div>
        {% endif %}

        <script>
            const player = document.getElementById('player');
            const canvas = document.getElementById('canvas');
            canvas.height = 0;
            const context = canvas.getContext('2d');
            const captureButton = document.getElementById('capture');

            const switchCamButton = document.getElementById('switchCam'); //
            let currentFacingMode = 'environment'; // 'user' for front cam, 'environment' for rear cam


            document.getElementById('classify').style.display = 'none';
        
            //const constraints = {
            //    video: true,
            //};

            let constraints = {
                video: {
                    facingMode: currentFacingMode
                }
            };

            function startCamera() {
                navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
                    player.srcObject = stream;
                }).catch((error) => {
                    console.error('Error accessing media devices.', error);
                });
            }
        
            captureButton.addEventListener('click', () => {

                document.getElementById('classify').style.display = 'block';
                document.getElementById('capture').style.display = 'none';;

                canvas.height = 250;
                // Draw the video frame to the canvas.
                context.drawImage(player, 0, 0, canvas.width, canvas.height);
        
                // var dataURL = canvas.toDataURL().split(",");
                
                var dataURL = canvas.toDataURL();
                console.log(dataURL)
                document.getElementById('id_image_data').value = dataURL

                console.log(document.getElementById('id_image_data').value)
        
                player.height = 0;
        
            }); 
        
            // Attach the video stream to the video element and autoplay.
            //navigator.mediaDevices.getUserMedia(constraints).then((stream) => 
            // {
            //    player.srcObject = stream;
            //     video.play();
            //});

            switchCamButton.addEventListener('click', () => {
                // Stop the existing video stream
                player.srcObject.getTracks().forEach(track => track.stop());

                // Toggle the facing mode
                currentFacingMode = currentFacingMode === 'environment' ? 'user' : 'environment';
                constraints.video.facingMode = currentFacingMode;

                // Restart the camera with the new constraints
                startCamera();
            });

            // Start the camera initially
            startCamera();
        
        </script>

    </div>

    <!-- Bootstrap JS Bundle -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>